BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 0

PointerAlignment: Right

AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SortIncludes: true
SpacesInParentheses: false
